.root {
  display: flex;
  align-items: center;
  justify-content: center;
}.App {
  font-family: sans-serif;
  text-align: center;
  margin: 36px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

input, select {
  padding: 4px 8px;
  border-radius: 11px;
  border: 1px solid #777;
}

input::placeholder {
  color: #999;
}

input:focus, select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(60, 161, 250, 0.5);
}

button {
  background: #52a9f5;
  color: #fff;
  border: 1px solid gray;
  border-radius: 9px;
  box-shadow: 1px 1px 3px #999;
  padding: 4px 24px;
  cursor: pointer;
  transition: all 0.3s;
}

.login-form button:hover {
  background: #3ca1fa;
  box-shadow: 1px 1px 2px #999;
}

/* Clients table */
table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background-color: #3ca1fa;
  color: white;
  padding: 8px;
  text-align: left;
}

table td {
  padding: 8px;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:nth-child(odd) {
  background-color: #e0e0e0;
}

table tr:hover {
  background-color: #52a9f5;
  color: white;
}
